<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_ViewStart</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/Site.css" />
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/holder.js"></script>


</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <a class="navbar-brand" href="#">Brand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu #1
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>

                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu #2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu #3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu #4</a>
                </li>
            </ul>
        </div>
    </nav>




    <div class="container">
        <header class="row">
            <div class="col col-lg-12" id="entete">
                <img src="holder.js/300x200" id="holder">

                <div id="titre">
                    <h1>Application Title</h1>
                    <h2>Application SubTitle</h2>
                </div>
            </div>
        </header>




        <main>
            <div class="row">
                <div class="col-lg-10" id="RenderBody">

                    @RenderBody()

                </div>
                <div class="col-lg-2" id="Aside">
                    <h2>Aside</h2>
                </div>
            </div>
        </main>
        <footer class="row" id="pied">


            <div class="col-lg-5" id="Links">

                <h4 id="titre4">Links</h4>
                <ul>
                    <li>
                        <a class="nav-link" href="#">Link #1</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Link #2</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Link #3</a>
                    </li>
                </ul>

            </div>

            <div class="col-lg-5" id="Sitemap">


                <h4>Sitemap</h4>
                <ul>
                    <li>
                        <a class="nav-link" href="#">Link #1</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Link #2</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Link #3</a>
                    </li>
                </ul>


            </div>

            <div class="col-lg-2" id="date">
                <p>&copy; Copyright @DateTime.Now.Year  </p>
            </div>

        </footer>
    </div>

</body>


</html>